header {
    background-color: darkred;
    text-align: center;
    color: aliceblue;
}
.fotoCarro{
    width: 15vw;
}
nav{
    text-align: center;
}
#paginaInicial{
    width: 75%;
    margin: 5% auto;
    display: block;
    border: 0.5vw solid darkred;
}